<!--<div class="panel-body">
    <div class="form-group" [formGroup]="resetPasswordForm">
        <div class="input-group">
            <label class="input-group-addon">UserName:</label>
            <input formControlName="Username" placeholder="email address" class="form-control" type="email">
        </div>
        <div class="input-group">
            <label class="input-group-addon">Password:</label>
            <input formControlName="Password" placeholder="email address" class="form-control" type="password">
        </div>
        <div class="input-group">
            <label class="input-group-addon">Confirm Password:</label>
            <input formControlName="ConfirmPassword" placeholder="Confirm Password" class="form-control" type="password">
        </div>

    </div>
    <div class="form-group">
        <input class="btn btn-lg btn-primary " value="Reset Password" (click)="resetPassword()">
    </div>
</div>-->

<div class="container container-account">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-5">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <h1>{{'CoreModule.Label.Reset' | translate}}</h1>
                        <p>{{'CoreModule.Label.NewPassword' | translate}}</p>

                        <div [formGroup]="resetPasswordForm">

                            <div class="form-group">
                                <input [ngClass]="{'is-invalid' : resetPasswordForm.controls['Password'].touched && resetPasswordForm.controls['Password'].invalid}" formControlName="Password" placeholder="{{'CoreModule.Placeholder.Password' | translate}}" class="form-control" type="password">
                                <div class="form-text text-danger" *ngIf="resetPasswordForm.controls['Password'].touched && resetPasswordForm.controls['Password'].hasError('required')">
                                    {{'CoreModule.Validations.PasswordRequired' | translate}}
                                </div>
                                <div class="form-text text-danger" *ngIf="!resetPasswordForm.controls['Password'].hasError('required') && resetPasswordForm.controls['Password'].touched && resetPasswordForm.controls['Password'].hasError('passwordFormat')">
                                    {{'CoreModule.Validations.PasswordFormat' | translate}}
                                </div>
                            </div>
                            

                            <div class="form-group">
                                <input [ngClass]="{'is-invalid' : resetPasswordForm.controls['ConfirmPassword'].touched && resetPasswordForm.controls['ConfirmPassword'].invalid}" formControlName="ConfirmPassword" placeholder="{{'CoreModule.Placeholder.ConfirmPassword' | translate}}" class="form-control" type="password">
                                <div class="form-text text-danger" *ngIf="resetPasswordForm.controls['ConfirmPassword'].touched && resetPasswordForm.controls['ConfirmPassword'].hasError('required')">
                                    {{'CoreModule.Validations.Required' | translate}}
                                </div>
                                <div class="form-text text-danger" *ngIf="resetPasswordForm.controls['ConfirmPassword'].touched && !resetPasswordForm.controls['ConfirmPassword'].hasError('required') && resetPasswordForm.hasError('match') ">
                                    {{'CoreModule.Validations.MatchPassword' | translate}}
                                </div>
                            </div>
                           
                            <div>
                                <input class="btn btn-primary btn-block" [disabled]="resetPasswordForm.invalid" value="{{'CoreModule.Button.Reset' | translate}}" (click)="resetPassword()">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>