
<form class="form-group" [formGroup]="searchItemForm">

    <h4>{{'CustomerModule.Label.WorkItemList' | translate}}</h4>
    <div class="row">
        <div *ngIf="projects.Project.length > 1" class="form-group col-lg-3 col-md-6">
            <label>Project</label>
            <select class="form-control" formControlName="ProjectId">
                <option *ngFor="let item of projects.Project" [ngValue]="item.Id">{{item.Name}}</option>
            </select>
        </div>
        <div class="form-group col-lg-3 col-md-6">
            <label>State</label>
            <select class="form-control " formControlName="ProjectStatus">
                <option value="Select"> -- Select State -- </option>
                <option *ngFor="let item of projects.projectStatus" [ngValue]="item">{{item}}</option>
            </select>
        </div>
        <div class="form-group col-lg-3 col-md-6">
            <label>Keyword Search</label>
            <input type="text" class="form-control" placeholder="Search By Title" formControlName="Title" />
        </div>
        <div class="form-group col-lg-3 col-md-6 d-flex align-items-end">

            <button type="button" class="btn btn-success" (click)="addNewWorkItem()">Add Work Item <span class="ion-plus"></span></button>
        </div>

    </div>
</form>



<kendo-grid [data]="gridView" [pageSize]="pageSize" [skip]="skip" [pageable]="true" [selectable]="true" (pageChange)="pageChange($event)"
            (selectionChange)="selectedRowChange($event)" [height]="410">
    <kendo-grid-column field="Field.WorkItemType" title="{{'CustomerModule.Label.WorkItemType' | translate}}" width="125" *ngIf="showWorkItemType">
    </kendo-grid-column>
    <kendo-grid-column field="Field.Id" title="Id" width="60" *ngIf="showWorkItemId">
    </kendo-grid-column>
    <kendo-grid-column field="Field.Title" class="link" title="{{'CustomerModule.Label.Title' | translate}}" width="300" *ngIf="showTitle">
    </kendo-grid-column>
    <kendo-grid-column field="Field.State" title="{{'CustomerModule.Label.State' | translate}}" width="100" *ngIf="showState">
    </kendo-grid-column>

    <div *kendoGridDetailTemplate="let dataItem">
        <!--<div>{{dataItem.ChildList.length}}</div>-->
        <workitem-listchild *ngIf="dataItem.ChildList.length>0" [childList]="dataItem.ChildList"></workitem-listchild>
    </div>

</kendo-grid>