<nav class="app-side-navbar">
    <div class="app-main-menu">
        <div class="scrollbar scroll-content">
            <perfect-scrollbar>
                <ul class="list">

                    <li class="list-item" *ngFor="let item of items">
                        <app-sidenav-menu-item [item]="item"></app-sidenav-menu-item>
                    </li>

                    <!--<li class="list-item" *ngFor="let item of items">
                      <a routerLink="{{item.route}}">
                            <i class="ion-map icon-2x"></i>
                            <span class="list-title">{{item.name}}</span>
                            <i class="ion-ios-arrow-right"></i>
                        </a>
                </li>-->

                    <!--<li class="list-item">
                    <a routerLink="/admin/projectsettings">
                            <i class="ion-map icon-2x"></i>
                            <span class="list-title">Admin Project Settings</span>
                            <i class="ion-ios-arrow-right"></i>
                        </a>
                    <ul class="list">
                        <li class="list-item"><a href="JavaScript:Void(0)">Sub menu items</a></li>
                        <li class="list-item"><a href="JavaScript:Void(0)">Sub menu items</a></li>
                        <li class="list-item"><a href="JavaScript:Void(0)">Sub menu items</a></li>
                        <li class="list-item"><a href="JavaScript:Void(0)">Sub menu items</a></li>
                        <li class="list-item"><a href="JavaScript:Void(0)">Sub menu items</a></li>
                    </ul>
                </li>

                <li class="list-item">
                    <a routerLink="/admin/inviteuser">
                            <i class="ion-closed-captioning icon-2x"></i>
                            <span class="list-title">Team Favorites</span>
                            <i class="ion-ios-arrow-right"></i>
                        </a>
                    <ul class="list">
                        <li class="list-item"><a href="JavaScript:Void(0)">Sub menu items</a></li>
                        <li class="list-item"><a href="JavaScript:Void(0)">Sub menu items</a></li>
                        <li class="list-item"><a href="JavaScript:Void(0)">Sub menu items</a></li>
                        <li class="list-item"><a href="JavaScript:Void(0)">Sub menu items</a></li>
                        <li class="list-item"><a href="JavaScript:Void(0)">Sub menu items</a></li>
                    </ul>
                </li>

                <li class="list-item">
                    <a href="JavaScript:Void(0)">
                            <i class="ion-chatbox-working icon-2x"></i>
                            <span class="list-title">My Queries</span>
                            <i class="ion-ios-arrow-down"></i>
                        </a>
                    <ul class="list expanded">
                        <li class="list-item"><a href="JavaScript:Void(0)">Shared Queries</a></li>
                        <li class="list-item"><a href="JavaScript:Void(0)">My Favorites</a></li>
                        <li class="list-item"><a href="JavaScript:Void(0)">My Queries</a></li>
                        <li class="list-item"><a href="JavaScript:Void(0)">Shared Queries</a></li>
                    </ul>
                </li>

                <li class="list-item">
                    <a href="JavaScript:Void(0)">
                            <i class="ion-film-marker icon-2x"></i>
                            <span class="list-title">Shared Queries</span>
                            <i class="ion-ios-arrow-right"></i>
                        </a>
                    <ul class="list">
                        <li class="list-item"><a href="JavaScript:Void(0)">Sub menu items</a></li>
                        <li class="list-item"><a href="JavaScript:Void(0)">Sub menu items</a></li>
                        <li class="list-item"><a href="JavaScript:Void(0)">Sub menu items</a></li>
                        <li class="list-item"><a href="JavaScript:Void(0)">Sub menu items</a></li>
                        <li class="list-item"><a href="JavaScript:Void(0)">Sub menu items</a></li>
                    </ul>
                </li>

                <li class="list-item">
                    <a href="JavaScript:Void(0)">
                            <i class="ion-earth icon-2x"></i>
                            <span class="list-title">My Favorites</span>
                            <i class="ion-ios-arrow-right"></i>
                        </a>
                    <ul class="list">
                        <li class="list-item"><a href="JavaScript:Void(0)">Sub menu items</a></li>
                        <li class="list-item"><a href="JavaScript:Void(0)">Sub menu items</a></li>
                        <li class="list-item"><a href="JavaScript:Void(0)">Sub menu items</a></li>
                        <li class="list-item"><a href="JavaScript:Void(0)">Sub menu items</a></li>
                        <li class="list-item"><a href="JavaScript:Void(0)">Sub menu items</a></li>
                    </ul>
                </li>-->
                </ul>
            </perfect-scrollbar>
        </div>

        
    </div>
</nav>
<!--/.app-nav-sidebar-->