<div class="row">
    <div class="col-md-offset-2 col-md-12">
        <div class="card invite-user">
            <form [formGroup]="formData" class="card-body">
                <h4 class="card-title">{{'CoreModule.Label.InviteUser' | translate}}</h4>

                <div class="">
                    <div class="row align-items-start">
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <input class="form-control" [ngClass]="{'is-invalid':formData.get('FirstName').touched && formData.get('FirstName').invalid }" type="text" placeholder="{{'CoreModule.Placeholder.FirstName' | translate}}" name="First Name" formControlName="FirstName" />
                                <div class="form-text text-danger w-100" *ngIf="formData.get('FirstName').touched && formData.get('FirstName').hasError('required')">First Name {{'CoreModule.Validations.Required' | translate}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <input class="form-control" [ngClass]="{'is-invalid':formData.get('LastName').touched && formData.get('LastName').invalid }" type="text" placeholder="{{'CoreModule.Placeholder.LastName' | translate}}" name="LastName" formControlName="LastName" />
                                <!--<div class="form-text text-danger w-100" *ngIf="formData.get('LastName').touched && formData.get('LastName').hasError('required')">Last Name {{'CoreModule.Validations.Required' | translate}}</div>-->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <input class="form-control" [ngClass]="{'is-invalid':formData.get('Email').touched && formData.get('Email').invalid }" type="text" placeholder="{{'CoreModule.Placeholder.Email' | translate}}" formControlName="Email" />
                                <div class="form-text text-danger w-100" *ngIf="formData.get('Email').touched && formData.get('Email').hasError('required')">Email {{'CoreModule.Validations.Required' | translate}}</div>
                                <div class="form-text text-danger w-100" *ngIf="formData.get('Email').touched && !formData.get('Email').hasError('required') && formData.get('Email').hasError('emailFormat')">{{'CoreModule.Validations.EmailFormat' | translate}}</div>
                                <div class="form-text text-danger w-100" *ngIf="formData.get('Email').hasError('isemailexist')">{{'CoreModule.Validations.EmailExist' | translate}}</div>
                            </div>
                        </div>

                    </div>


                </div>

                <div formArrayName="Projects" class="row">
                    <div class="col-lg-4 col-md-6" *ngFor="let project of ProjectList.controls; let i=index" [formGroupName]="i">
                        <div class="form-check form-check-custom pl-0">
                            <label>
                                <input class="form-check-input" type="checkbox" formControlName="IsSelected">{{formData.controls['Projects'].controls[i].value.Name | translate}}
                                <span class="squire-check-mark"></span>
                            </label>
                        </div>
                    </div>

                </div>
                <div class="form-text text-danger" *ngIf="formData.get('Projects').hasError('multipleCheckboxRequireOne')">* {{'CoreModule.Validations.Select' | translate}}</div>

                <button type="button" [disabled]="formData.invalid" class="btn btn-primary mt-2" (click)="sendInvite()">{{'CoreModule.Button.Invite' | translate}}</button>
            </form>
        </div>
    </div>
</div>