


<div class="container container-account">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-5">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <h1 >{{'CoreModule.Label.Create' | translate}}</h1>
                        <div [formGroup]="addPasswordForm">
                            <div class="form-group">
                                <input [ngClass]="{'is-invalid':addPasswordForm.get('Password').touched && addPasswordForm.get('Password').invalid }" formControlName="Password" placeholder="{{'CoreModule.Placeholder.Password' | translate}}" class="form-control" type="password">
                                <div class="form-text text-danger" *ngIf="addPasswordForm.get('Password').touched && addPasswordForm.get('Password').hasError('required')">{{'CoreModule.Validations.Required' | translate}}</div>
                                <div class="form-text text-danger" *ngIf="!addPasswordForm.get('Password').hasError('required')&& addPasswordForm.get('Password').touched && addPasswordForm.get('Password').hasError('passwordFormat')">{{'CoreModule.Validations.PasswordFormat' | translate}}</div>

                            </div>
                           
                            <div class="form-group">
                                <input [ngClass]="{'is-invalid':addPasswordForm.get('ConfirmPassword').touched && addPasswordForm.get('ConfirmPassword').invalid }" formControlName="ConfirmPassword" placeholder="{{'CoreModule.Placeholder.ConfirmPassword' | translate}}" class="form-control" type="password">
                                <div class="form-text text-danger" *ngIf="addPasswordForm.get('ConfirmPassword').touched && addPasswordForm.get('ConfirmPassword').hasError('required')">{{'CoreModule.Validations.Required' | translate}}</div>
                                <div class="form-text text-danger" *ngIf="!addPasswordForm.get('ConfirmPassword').hasError('required')&&addPasswordForm.hasError('match') ">{{'CoreModule.Validations.MatchPassword' | translate}}</div>
                            </div>
                            
                            <div>
                                <button class="btn btn-primary btn-block" [disabled]="addPasswordForm.invalid"  (click)="createPassword()">{{'CoreModule.Button.Create' | translate}}</button>
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>