<div class="container container-account">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-5">
            <div class="card-group">
                <div class="card p-4">
                    <div *ngIf="!isUserNameValid" class="card-body" [formGroup]="forgotPasswordForm">
                        <h1>{{'CoreModule.Label.ForgotPassword' | translate}}</h1>
                        <p>{{'CoreModule.Label.ResetPassword' | translate}}</p>
                        <div class="form-group">
                            <input [ngClass]="{'is-invalid' : forgotPasswordForm.get('Username').touched && forgotPasswordForm.get('Username').hasError('required') || !forgotPasswordForm.get('Username').hasError('required') && forgotPasswordForm.get('Username').hasError('emailFormat')}" formControlName="Username" placeholder="{{'CoreModule.Placeholder.EmailAddress' | translate}}" class="form-control" type="email">
                            <div class="form-text text-danger" *ngIf="forgotPasswordForm.get('Username').touched && forgotPasswordForm.get('Username').hasError('required')">{{'CoreModule.Validations.Required' | translate}}</div>
                            <div class="form-text text-danger" *ngIf="!forgotPasswordForm.get('Username').hasError('required') && forgotPasswordForm.get('Username').hasError('emailFormat') ">{{'CoreModule.Validations.EmailFormat' | translate}}</div>
                        </div>
                        
                        <div>
                            <input class="btn btn-primary btn-block" [disabled]="forgotPasswordForm.invalid" value="{{'CoreModule.Button.Reset' | translate}}" (click)="forgotPassword()">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                        </div>
                        <div class="col-6 text-right">
                            <a class="btn btn-link px-0" routerLink="/login">{{'CoreModule.Button.Continue' | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>